<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <ul class="nav navbar-nav navbar-center">
     <li><%= link_to "会社概要", company_path %></li>
     <li><%= link_to "ニュース", press_path %></li>
     <li><%= link_to "プライバシー", privacy_path %></li>
     <li><%= link_to "お問い合わせ", contact_path %></li>
        <div class="footer-social">
      <a href="http://facebook.com/" target="_blank">
        <img src="facebook.png" alt="Fecebook"></a>
      <a href="http://twitter.com/" target="_blank">
        <img src="twitter.png" alt="Twitter"></a>
    </div>
      <div class="copyright">© 2016 SAMPLE Inc.</div>
    </footer>